$white: #ffffff;
$blue: #72a3bc;
$purple_brightest: #6c77b7;
$purple_darkest: #2b2160;
$pink: #EE6383;
@import '6-chasing-dots';
@import '2-double-bounce';
@font-face {
    font-family: 'Lato';
    src: url(fonts/Lato-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url(fonts/Lato-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url(fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url(fonts/RobotoCondensed-Light.ttf);
    font-weight: 300;
}

body {
    background-color: #E9E4DE;
    color: #ACACAC;
    font-family: 'Lato';
    font-family: 'RobotoCondensed';
}

.hero-container {
    .hero {
        text-align: center;
        font-size: 3em;
        transition: font-size 3s ease;
        font-family: 'RobotoCondensed'
    }
    min-width: 100%;
}

.login-container {
    margin: 0em;
    width: 100%;
    padding-top: 3em;
    background-color: #7393be;
    height: 90%;
    h4 {
        padding-top: 3em;
        font-weight: 300;
        color: #ffffff;
        font-family: 'RobotoCondensed';
    }
}

.footer {
    background-color: #333333;
    height: 10%;
    padding-top: 3em;
    padding-left: 2em;
    font-family: 'RobotoCondensed';
    font-weight: 400;
    color: #666666;
    .love {
        color: #EE6383;
    }
}
